/*this css file defines the style for the main page of this site*/
/*The elements and their styles are in the order of the dom tree*/
body{
  margin:0px;
}
/*this section is the head section of the page*/
div.header{
  text-align:left;
  display:block;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  /*background-color:rgb(30, 136, 229);*/
  padding:0.5em 0em 0.5em 0.5em;
}
/*the elements contained within the div.head container:*/
#profile_img{
  border-radius:50%;
  aspect-ratio:1;
  max-height: 2.5em;
  max-width: 2.5em;
  border:1px solid black;
  float:left;
}
.text_container{
  margin-top:0.3em;
  margin-left:3em;
  line-height:1;
}
#chatbot_name{
  font-size:1.5em;
  letter-spacing:0.1em;
  font-family:Verdana,Lucida,Ariel;
  margin-left:0.3em;
}
/*this is a genral rule for normal subheadings ,etc.*/
.subtitles{
  margin-left:1.3em;
  color:white;
  font-style:italic;
  font-size:0.8em;
}

div.content{
padding-top:50px;
text-align:center;

}
/*elements within the div.content container*/
a.link{
background-color:rgb(255, 152, 0);
text-decoration:none;
padding:5px;
font-size:25px;
color:white;
border-radius:5%;-moz-border-radius:5%;-webkit-border-radius:5%;
}
a.link:hover{
background-color:white;
border:solid rgb(255, 152, 0) 3px;
padding:4px;
color:black;
}
